/* clase/etiqueta {
    estilo_a_aplicar: propiedad_del_estilo;
} */

/* Estilos Generales */

/* Para todo el doc se deja * detrás del corchete */


*{
    font-family: Arial, Helvetica, sans-serif; /* Revisa si el explorador tiene esas fuentes. Si no tiene la primera, reemplaza con la segunda y así sucesivamente */
    background-color: rgb(222, 189, 235); /* Color del fondo. Si se coloca el cursor sobre el cuadro de color, se puede personalizar con un slider */ 
    margin: 0px; /* Espaciado al borde de la página. Con 0 el texto queda lo más pegado hacia arriba. */
    padding: 0px;
  }
  */
  
  
  /*- navBar Syles */
  
  nav {
      background-color: #33beff;
  }
  
  /* LOREM IPSUM
  
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
  Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
  Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu
  
  */