/*

Estructura básica de los estilos de CSS

clase/etiqueta {
    estilo_a_aplicar: propiedad_del_estilo;
}

*/

/* Estilos generales */

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* NavBar Styles */
nav {
  background-color: #33beff;
  padding: 20px;
  color: #fff;
}

/* Button header styles */
.btn-header {
    width: 10rem;
    text-decoration: none;
    background-color: #37b13d;
    padding: 6px;
    color: #fff;
    border-radius: 6px;
    margin-top: 20px;
    transition: all 0.6s;
    text-align: center;
}

.btn-header:hover {
    background-color: yellow;
    color: black;
}

/* header container styles */
.overlay-div {
  background-color: black;
}

.header-container {
  display: flex;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.bg-header {
  background-image: url("./img/burger-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  opacity: 0.6;
}

/* sección tarjetas */
.img-size {
  width: 300px;
  border-radius: 7px 7px 0 0;
}

.cards-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.card-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.text-card {
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn-order {
    width: 60px;
    text-decoration: none;
    background-color: #37b13d;
    padding: 6px;
    color: #fff;
    border-radius: 6px;
    margin-top: 3rem;
    transition: all 0.6s;
}

.btn-order:hover {
    background-color: yellow;
    color: black;
}

.border-card {
    border:  solid gray 1px;
    border-radius: 7px;
}

.description-card {
    padding: 2rem;
}
