/* Estilos generales */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* Color del título */

.header-color{
    color: #2168ec;
    text-align: center;
    margin-bottom: 2rem;
}

/* Imagen de fondo body */

.bg-general{
    background-image: url("../img/fondo.jpg");
    background-size: cover; /* para que cubra todo */
    background-repeat: no-repeat;
}

/* Contenedor del formulario */

.bg-white{
    background-color: white;
    margin-bottom: 8rem;
}

.form-container{
    padding: 3rem;
    width: 20%;
    border-radius: 0.4rem;
}

/* Contenedores de inputs */

.input-container{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.input-container input {
    border-radius: 0.5rem;
    border: solid 0.1rem gray;
    padding: 0.4rem;
    margin: 0.2rem;
}

.input-container textarea{
    resize: none;
}

.radio-container {
    margin-top: 0.5rem;
}

/* Estilos de botones */

.btn-register-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.btn-register-container button {
    padding: 0.7rem;
    background-color: #2168ec;
    border: 0;
    border-radius: 0.2rem;
    color:white;
    font-size: 1rem;
    transition: background-color 0.4s;
}

.btn-register-container button:hover{
   background-color: green;
}


/* Alineación Formulario */
.screen-form{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

/* Línea de registro Pantalla Inicial */

.reg-link p {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}