/* Estilos generales */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* Color del título */

.header-color{
    color: #2168ec;
}

/* Imagen de fondo body */

.bg-general{
    background-image: url("../img/fondo.jpg");
    background-size: cover; /* para que cubra todo */
    background-repeat: no-repeat;
    background-position-y: 20%; /* Para subir la imagen */
}

/* Contenedor del formulario */

.bg-white{
    background-color: white;
}

.form-container{
    padding: 4rem;
    width: 30%;
    border-radius: 0.4rem;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

/* Contenedores de inputs */

.input-container{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.input-container input {
    border-radius: 0.5rem;
    border: solid 0.1rem gray;
    padding: 0.4rem;
    margin: 0.2rem;
}

.checkbox-container {
    margin-top: 0.5rem;
}

/* Estilos de botones */

.btn-login-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.btn-login-container button {
    padding: 0.7rem;
    background-color: #2168ec;
    border: 0;
    border-radius: 0.2rem;
    color:white;
    transition: background-color 0.5s;
}

.btn-login-container button:hover{
   background-color: green;
}


/* Alineación Formulario */
.screen-form{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

/* Línea de registro Pantalla Inicial */

.reg-link p {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}